@charset "UTF-8";
@import "./normalize.css";
@import "../../node_modules/bulma/bulma.sass";

/* common */
@import "./abstract/_common.scss";

/* components */
@import "../components/button/button", "../components/input/input";

/* containers */
@import "../containers/todo.container/_todo.scss";

/* global */
html,
body,
#root,
#root > div {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
}
